@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Play&display=swap');

@font-face {
    font-family: "Thix";   /*Can be any text*/
    src: url("../../assets/font/Thicxer.ttf") format("truetype");
  };


$mainFont: 'Play', sans-serif;
$thixFont: 'Thix';

$lightBlue: #9BB5CF;
$medBlue: #648DB6;
$darkBlue: #283655;