@use "../abstracts" as *;

.button-sm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;

    .submit-btn {
        height: 2rem;
        width: 87.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.25rem 0rem;
      
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        border: 1px solid #dddddd;
        color: #ffffff;
    }
    
    &:nth-child(1) {
        margin-top: .5rem;
    }


}

.hidden {
    display: none !important;
}
