@use "../abstracts" as *;

@keyframes expandWidth {
  from {
    width: 40vw;
    max-height: 10vh;
  }
  to {
    width: 88vw;
    height: 69vh;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    background-color: $darkBlue;
  }
}

@keyframes expandHeight {
  from {
    height: 0;
  }
  to {
    height: 60vh;
  }
}

@keyframes fadeIn1 {
  0% {
    display: none !important;
    opacity: 0%;
  }
  1% {
    display: flex;
    opacity: 0%;
  }
  100% {
    display: flex;
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
    // display: flex;
  }
  99% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
    display: none !important;
  }
}





@media (max-width: 576.98px) {
  .button-lg-container {
    font-family: $mainFont;
    font-size: 20px;
    width: 100vw;
    padding: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    overflow: hidden;

    .button-lg {
      display: flex;
      margin: 0 0 0 1vw;
      // justify-content: space-between;
      align-items: center;
      flex-direction: column;
      aspect-ratio: 1/1;
      width: 40vw;
      background-color: $lightBlue;
      box-shadow: 0px 0px 0px 2px 0.3 #648db6;
      border: 0.05rem solid #4e6096;
      border-radius: 10px;

      transition: width 500ms ease-out;

      &:nth-child(1) {
        margin: 0 auto 0 6vw;
      }
      &:nth-child(2) {
        margin: 0 6vw 0 auto;
      }

      .button-lg-top {
        height: 7.625rem;
        display: grid;
        place-items: center;

        img {
          margin-top: 0.25rem;
          min-width: 6.25rem;
          min-height: 6.25rem;
        }
      }

      .button-lg-bottom {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: $medBlue;
        border-top: 1px solid $darkBlue;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        p {
          font-size: 1.25rem;
          font-weight: 700;
          margin: 0.5rem;
          width: 100%;
          text-align: center;
        }
      }
    }

    .button-expand-list-header {
      display: flex;
      align-items: center;
      margin: 0.3rem 0.3rem;
      width: 95%;
      margin-top: .5rem;

      background-color: $darkBlue;
      color: #ffffff;

      .close-button-container {
        display: flex;
        justify-content: center;
        .close-button {
          width: 2rem;
          height: 2rem;

  background-color: $darkBlue;
        }

        p {
          display: flex;
          // color: red;
          justify-content: center;
          align-items: center;
          width: 2rem;
          height: 2rem;
          margin: 0;
          padding: 0;
        }
      }
      

      .button-expand-header-title-container {
        // color: green;
        width: 90%;
        display: flex;
        justify-content: center;
        

        h4 {
          margin: 0;
        }
      }
    }

    .button-expand-list {
      width: 95%;
      min-height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5rem 0.15rem;
      overflow: scroll;
      

      border-radius: 10px;
      cursor: pointer;
      text-decoration: none;
      background-image: linear-gradient(to bottom, #648db6 5%, #283655 100%);
background-size: cover;
      background-color: #648db6;
      box-shadow: 0px 0px 0px 2px #648db6;
      border: 1px solid #4e6096;
      color: #ffffff;
      text-shadow: 0px 1px 0px #283966;
      
      -webkit-transition: background-color 0.2s ease;
      -moz-transition: background-color 0.2s ease;
      -o-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;
      
      &.clicked {
        // background-image: linear-gradient(90deg, #5aa469 0%, #3e6c4c 100%);
        background: linear-gradient(to bottom, #5aa469 5%, #3e6c4c 100%);
        background-color: #5aa469;
        box-shadow: 0px 0px 0px 2px #3e6c4c;
        border: 1px solid #3e6c4c;
        color: #ffffff;
        text-shadow: 0px 1px 0px #3e6c4c;
      
        transition: all 0.2s ease; /* add transition property to the clicked state */
      }

      .button-expand-list-text-container {
        width: 95%;
        text-align: center;

        .button-expand-list-text {
          margin: 0;
          padding: 0;
        }
      }
    }

    .active {
      animation: expandWidth 250ms ease-out forwards;

      overflow-y: scroll;
    }

    .inactive {
      //  animation: expandWidth 250ms ease-out forwards;

      // transition-delay: 2s;
      // animation: fadeIn1 250ms forwards ease-out;
    }
  }

  .hidden {
    display: none !important;
  }
}
