@use "../abstracts" as *;

@keyframes expandWidth {
    from {
        width: 40vw;
    }
    to {
        width: 88vw;
    }
}

@keyframes expandHeight {
    from {
        height: auto;
    }
    to {
        height: 60vh;
    }
}

@keyframes fadeIn1 {
    0% {
        display: none !important;
        opacity: 0%;
    }
    1% {
        display: flex;
        opacity: 0%;
    }
    100% {
        display: flex;
        opacity: 100%;
    }

}

@keyframes fadeOut {
  0% {
    opacity: 100%;
    // display: flex;
  }
  99% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
    display: none !important;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
    display: none !important;
  }
  99% {
    // display: flex;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 576.98px) {
  .button-lg-container {
    font-family: $mainFont;
    font-size: 20px;
    width: 100vw;
    padding: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    overflow: hidden;

   

    .button-lg {
      display: flex;
      margin: 0 0 0 1vw;
      justify-content: space-between;
      flex-direction: column;
      aspect-ratio: 1/1;
      width: 40vw;
      background-color: $lightBlue;
      border: 1px solid $darkBlue;
      border-radius: 10px;

      transition: width 500ms ease-out;

      &:nth-child(1) {
        margin: 0 auto 0 6vw;
      }
    &:nth-child(2) {
        margin: 0 6vw 0 auto;
      }

      .button-lg-top {
        height: 7.625rem;
        display: grid;
        place-items: center;

        img {
          margin-top: 1.5rem;
          min-width: 6.25rem;
          min-height: 6.25rem;
        }
      }

      .button-lg-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $medBlue;
        border-top: 1px solid $darkBlue;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        p {
          font-size: 1.25rem;
          font-weight: 700;
          margin: 0.5rem;
        }
      }
    }

    .button-expand-list {
      width: 98%;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.15rem;

      box-shadow: 0px 0px 0px 2px #648db6;
      background: linear-gradient(to bottom, #648db6 5%, #283655 100%);
      background-color: #648db6;
      border-radius: 10px;
      border: 1px solid #4e6096;
      cursor: pointer;
      color: #ffffff;
      text-decoration: none;
      text-shadow: 0px 1px 0px #283966;

      &:hover {
        background: linear-gradient(to bottom, #552828 5%, #7892c2 100%);
        background-color: red;
      }

      .button-expand-list-label-container {
        width: 95%;
        text-align: center;
      }


    }

    .active {
    //   width: 88vw;
    animation: expandWidth 250ms ease-out forwards,
              //  fadeIn1 250ms ease-out 250ms forwards
            ;
            // animation: 
            // name 
            // duration 
            // timing-function 
            // delay 
            // iteration-count 
            // direction 
            // fill-mode


    }

    .inactive {
      // transition-delay: 2s;
      // animation: fadeIn1 250ms forwards ease-out;
    }
  }

  .hidden {
    display: none !important;
  }
}

.fadeInDelay {
  animation: fadeIn1 500ms ease-in-out 500ms forwards;
}
